/* НАША КОМАНДА */

.team-section {
  background: $background;
}

.team-section-list {
  display: flex;
}

.social-links {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}

.team-section-list-item {
  background: $secondary-text-color;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.card-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  min-height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.card-social-list-link:hover .icon-svg,
.card-social-list-link:focus .icon-svg {
  fill: $secondary-text-color;
}

.icon-svg {
  fill: $social-icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-bottom: 16px;
}

.social-links-item:hover,
.social-links-item:focus {
  color: $accent-color;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}
